<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" class="inputBox" type="url" name="test-url" value=""
                        placeholder="https://www.news-source/a-news-article...">
                    <input type="submit" class="submitBtn" name="" value="submit"
                        onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section class="url-results">
                <ul>
                    <li>
                        <h3>Text Polarity:</h3>
                        <p id="polarity"></p>
                        <h4>Confidence: </h4>
                        <p id="polarity_confidence"></p>
                    </li>

                    <li>
                        <h3>Text Subjectivity:</h3>
                        <p id="subjectivity"></p>
                        <h4>Confidence: </h4>
                        <p id="subjectivity_confidence"></p>
                    </li>

                    <h3>Text Excerpt:</h3>
                    <p id="excerpt"></p>
                </ul>
            </section>

        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>

    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js').then(registration => {
                    console.log('SW registered: ', registration);
                });
            });
        } else {
            console.log("Service Working not working");
        }
    </script>

</html>
